@media screen and (max-width: 1300px) {
  .footer__item::before {
    display: none;
  }
  footer {
    padding: 2rem;
  }
  .footer__info__content {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .header__logo,
  .footer__logo {
    display: none;
  }
  header {
    padding-block: 1rem;
    justify-content: center;
  }
  .header__nav {
    flex-grow: 1;
    max-width: 90%;
    flex-wrap: wrap;
    &-link {
      padding-inline: 1rem;
    }
  }
  .hero-intro__content {
    width: 70%;
  }
  .hero-intro {
    height: fit-content;
  }

  .focus-point__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .focus-point__item {
    width: 100%;
    text-align: center !important;
    .focus-point__item__subtitle {
      text-align: center !important;
    }
  }

  .products__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .focus-point__wrapper {
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 750px) {
  .hero-intro__content {
    width: 80%;
    padding: 3rem;
    margin: 2rem;
  }
  .products__content {
    gap: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .products__content {
    grid-template-columns: 1fr;
  }
  .products__item__img {
    height: 24rem;
  }
  .footer__info-wrapper {
    width: 85%;
  }
}
@media screen and (max-width: 500px) {
  .footer__section {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .footer__links nav,
  .footer__info-wrapper,
  .footer__info__content,
  .footer__pages-wrapper {
    width: 100%;
  }
  .footer__info__item {
    align-self: center;
  }
  .header__nav {
    max-width: 95%;
  }
  header {
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .hero-intro__content {
    margin: 0;
    padding: 1rem;
    width: 90%;
  }
  .focus-point {
    padding: 1rem;
  }
  .focus-point__title {
    font-size: 4rem;
  }
  .focus-point__item__text,
  .button,
  .hero-intro__content .hero-intro__text {
    font-size: 2rem;
  }
  .products h2 {
    font-size: 3.5rem;
  }
  .products__item__img {
    width: 90%;
  }
}
