$colors: (
  "primary": #2D61E6,
  "primary-light": #4972d9,
  "primary-dark": #061734,

  "gradient-1":#66F8D5,
  "gradient-2":#2C86E1,

  "light": #fff,
  "light-2": #fafafa,
  "grey-light": #E9E9E9,
  "dark": #222
);

$fonts: (
  "primary": "Montserrat",
  "secondary": "Inter"
);

$font-sizes: (
  "xs": 1.2rem,
  "sm": 1.4rem,
  "base": 1.6rem,
  "lg": 2rem,
  "xl": 2.4rem,
  "xxl": 3.2rem,
  "xxxl": 3.6rem,
  "xxxxl": 8.6rem,
);

$font-weights: (
  "light": 300,
  "normal": 400,
  "medium": 500,
  "bold": 700,
);

$breakpoints: (
  "bg-desktop": 110em,
  // 1760 px,
  "md-desktop": 100em,
  // 1600 px,
  "desktop": 90em,
  // 1440 px,
  "tablet": 65.625em,
  // 1050 px,
  "tablet-portrait": 46.875em,
  // 750 px
  "mobile": 40.625em,
  // 650 px
  "sm-mobile": 18.75em,
  // 300 px
  "xs-mobile": 12.5em,
  // 200 px
  "landscape":
    (
      min-width: 40.625em,
      max-height: 31.25em,
    ),
);
