footer {
    display: flex;
    background-color: map-get($colors, primary-dark);
    color: map-get($colors, light);
    padding: 8rem 6rem 9rem;
    border-image: linear-gradient(to right, map-get($colors, gradient-1), map-get($colors, gradient-2)) 30;
    border-top: solid 5px;
    width: 100%;
    justify-content: center;
}
.footer {
    &__logo {
        width: 24rem;
        margin-right: 5rem;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .footer__logo-icon {
                width: 160px;
                height: 80px;
            }
            .footer__logo-medical {
                background: linear-gradient(73deg, map-get($colors, gradient-1) 12.75%, map-get($colors, gradient-2) 81.8%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                width: min-content;
                font-weight: 600;
                font-size: 5.7rem;
            }
        }
    }
    
    &__section {
        display: flex;
        justify-content: space-between;
        gap: 2px;
        flex-grow: 0.85;
        & br {
            position: relative;
            content: '';
            background-color: map-get($colors, light);
            height: 70%;
            bottom: 2%;
            width: 1px;
        }
    }

    &__item {
        width: 100%;
        display: flex;
        &::before {
            content: '|';
            margin-right: 5rem;
            font-size: 1rem;
            height: 90%;
            position: relative;
            align-self: center;
            background-color: map-get($colors, light);
            left: -2rem;
        }
    }

    &__links {
        & nav {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .footer__links {
                &-title {
                    text-transform: capitalize;
                    text-align: center;
                    font-size: 2.5rem;
                    margin-bottom: 2rem;
                }
                &__content {
                    font-size: 2rem;
                }
            }
        }
    }

    &__info {
        &-wrapper {
            display: flex;
            flex-direction: column;
            width: 70%;
            align-items: center;
        }
        &-title {
            font-size: 2.5rem;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 2rem;
        }
        &__content {
            display: flex;
            flex-direction: column;
            width: 60%;
            align-items: center;
        }
        &__item {
            display: flex;
            width: fit-content;
            font-size: 2rem;
            gap: 1rem;
            align-self: flex-start;
            align-items: center;
            margin-bottom: 1rem;
        }
        &-icon {
            width: 20px;
            height: 20px;
        }
    }
    &__pages {
        &-wrapper {
            display: flex;
            width: 70%;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
        }
        & nav {
            font-size: 2.2rem;
            display: flex;
            text-transform: capitalize;
            flex-direction: column;
            & a {
                margin-bottom: 1rem;
            }
        }
    }
}