header {
    position: sticky;
    display: flex;
    height: 10%;
    padding-inline: 4rem;
    justify-content: space-between;
    background-color: map-get($colors, light);
    border-image: linear-gradient(to right, map-get($colors, gradient-1), map-get($colors, gradient-2)) 30;
    border-bottom: solid 5px;
}

.header {
    &__logo {
        margin-bottom: 1rem;
        &__wrapper {
            display: flex;
            flex-direction: row;
            justify-items: flex-start;
            color: map-get($colors, primary);
            margin-inline: 1rem;
            justify-content: center;
            margin-top: 0rem;
        }
        &-icon {
            width: 110px;
            height: 6rem;
        }
        &-medical {
            background: linear-gradient(73deg, map-get($colors, gradient-1) 12.75%, map-get($colors, gradient-2) 81.8%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            width: min-content;
            font-weight: 600;
            font-size: 4.1rem;
            margin-inline: 1rem;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-grow: 0.5;
        font-size: 2.3rem;
        align-items: center;
        text-transform: capitalize;
    }

    &__language {
        display: flex;
        &-currentlang {
            font-size: 2.3rem;
            align-self: center;
        }
        & svg {
            width: 12px;
            height: 12px;
            align-self: center;
            cursor: pointer;
        }
        &__chooselang {
            display: none;
        }
    }
}